body{
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CBC8FD;
}
.container{
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 10px 10px;
    padding: 25px;
}
h1{
    font-size: 4rem;
}
div{
    font-size: 2rem;
}
.fundamentals{
    font-size: 2rem;
    background-color: #A9AFF5;
    border: 2px solid black;
    margin: 10px 0;
}
ul, .fullstackJS{
    margin: 10px 0;
    font-size: 2rem;
    background-color: #F7DDB4;
    border: 2px solid black;
}
ul{
    list-style-type: none;
    padding: 0 2rem;
}
li{
    margin: 10px;
}
div{
    margin: 10px;
}
.total{
    margin: 10px 0;
    font-size: 2rem;
    background-color: #F7DDB4;
    border: 5px solid black;
    border-radius: 25%;
}